<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>861753252626-egc5ibja98179ipt16ri7psaa2fqtknb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.861753252626-egc5ibja98179ipt16ri7psaa2fqtknb</string>
	<key>API_KEY</key>
	<string>AIzaSyBM3ZXb7k5pXCDQwW3O6N1mwZPWvYamCOo</string>
	<key>GCM_SENDER_ID</key>
	<string>861753252626</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>NIBM.Final-Test</string>
	<key>PROJECT_ID</key>
	<string>final-test-36bac</string>
	<key>STORAGE_BUCKET</key>
	<string>final-test-36bac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:861753252626:ios:6a48c9dfa03e627e2bf1cb</string>
</dict>
</plist>